<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Search for <%= searchTxt %></title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet/styles.css">
    <!-- Web Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" type="text/css">

    <!-- Web Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <% include header.ejs %>

    <div class="search">
      <div class="search-text">
        <div class="container">
          <p>Searching for "<a><%= searchTxt %></a>".</p>
        </div>
      </div>
      <div class="search-result">
        <div class="container">
          <ul class="book-list list-inline list-unstyled">
            <% books.forEach(function(book, index){ %>
            <li class="book">
              <div class="row">
                <div class="col-md-2 text-center">
                  <a href="/#/books/<%- book._id %>"><img src="<%- book.image %>"></a>
                </div>
                <div class="col-md-10">
                  <a href="/#/books/<%- book._id %>"><h4 class="book-title"><%- book.title %></h4></a>
                  <p class="book-description">
                    <%- book.description %>
                  </p>
                  <!-- <p class="owner">Owner: <%- book.owner %></p> -->
                </div>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
</html>
